extends layout.pug

block content

  nav.nav
    a.ms-3.btn.btn-dark.w-25(href='/')
      span &larr;
      |  Back

  article.portfolio-projects
    .inner-wrapper.flex-row-wrap.two-col
      .project-info-box.box

        h1.border.border-3.p-3.rounded-pill= project.project_name

        p= project.description

      .project-tech-links-box.box
        h6.border-bottom.border-3.pb-2.techTitle Technologies
        ul.list-unstyled.row
          each tech in project.technologies 
            li.col.m-1.p-2.rounded.w-50.text-white(class='tech')= tech

        a.btn-link.btn.link-underline-0(href=`${project.live_link}`  target="_blank") Live Demo
        a.btn-link.btn(href=`${project.github_link}`  target="_blank") GitHub Repo

    .project-img-box.box

      each image, index in project.image_urls 
        h6.border-bottom.border-3.pb-2.mb-3.techTitle= project.project_content[index]
        img.project-img.shadow-lg.mb-5(src=`${image}`, alt='')


    nav.nav
      a.ms-3.btn.btn-dark.w-25(href='/')
        span &larr;
        |  Back
